.paddingBadge {
 margin-right: .5rem;
 margin-left: .5rem;
}

.indentStuff{
  margin-left: 1rem;
}

.cardTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

 .textsmaller{
  font-size: medium;
  text-align: right;
 }


div {
  word-wrap: break-word;
}


.positionButton {
  display: flex;
}

.id-line{
  display:flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  word-break: break-all;
}

p {
  word-wrap: break-word;
}
